{extend name="public/base" /}

{block name="title"}<title>{:lang('list')} - {:config('dbconfig.sys.login_title')}</title>{/block}

{block name="pjax_container"}
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    {volist name="category_arr" id="vo"}
                    <a class="btn btn-default {$vo.active}" href="{$vo.url}" >{$vo.text}</a>
                    {/volist}
                </div>
                <div class="box-header with-border">
                    {volist name="type_arr" id="vo"}
                    <a class="btn btn-default {$vo.active}" href="{$vo.url}" >{$vo.text}</a>
                    {/volist}
                </div>
                <div class="box-header with-border">
                    <div class="input-group-btn up-box">
                        <div class="up-btn-box">
                            <a class="btn btn-warning" href="{:url('Addons/index', ['local' => 'lists'])}"><i class="fa-solid fa-list"> 本地安装列表</i></a>
                        </div>
                        <div class="up-btn-box">
                            <input type="file" class="input-btn" id="addon-upload-btn" data-url="{:url('Addons/localInstall')}" accept=".zip,.rar">
                            <button class="btn btn-danger" type="button"><i class="fa-solid fa-cloud-arrow-up"> 本地安装</i></button>
                        </div>
                        <div class="up-btn-box">
                            <a class="btn btn-primary" id="addon-member-btn" data-url="{:url('Addons/memberInfo')}"><i class="fa-solid fa-user"> 会员信息</i></a>
                        </div>
                        <div class="up-btn-box">
                            <form class="form-horizontal" method="GET" action="{:url(CONTROLLER_NAME.'/'.ACTION_NAME)}" pjax-search="">
                                <input type="hidden" name="category" value="{:input('get.category', '', 'htmlspecialchars')}" >
                                <input type="hidden" name="type" value="{:input('get.type', '', 'htmlspecialchars')}" >
                                <div class="input-group">
                                    <input type="text" class="form-control start-circle-3" name='search' value="{:input('get.search', '', 'htmlspecialchars')}" placeholder="请输入搜索关键词">
                                    <button type="submit" class="btn btn-info"><i class="fa-solid fa-search"></i> 搜索</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="box-body table-responsive">
                    <table class="table table-hover table-bordered">
                        <tr>
                            <th>{:lang('title')}</th>
                            <th>{:lang('author')}</th>
                            <th class="description">{:lang('infos')}</th>
                            <th>{:lang('price')}</th>
                            <th>{:lang('downloads')}</th>
                            <th>{:lang('version')}</th>
                            <th>{:lang('status')}</th>
                            <th class="text-end">{:lang('action')}</th>
                        </tr>
                        {volist name="dataList" id="vo"}
                        <tr>
                            <td>{$vo.title}</td>
                            <td>{$vo.author}</td>
                            <td class="description highlights">{if !empty($vo['infos'])}{$vo.infos|raw|htmlspecialchars_decode}{/if}</td>
                            <td>{$vo.price|price_label|raw}</td>
                            <td>{$vo.downloads}</td>
                            <td>{$vo.version|raw}</td>
                            <td>{$vo.status_switchs|raw}</td>
                            <td class="text-end">{$vo.action_btns|raw}</td>
                        </tr>
                        {/volist}
                    </table>
                </div>
                <div class="box-footer clearfix">
                    {if !is_array($dataList) && !empty($dataList)}
                    {$dataList->render()|raw}
                    {/if}
                </div>
            </div>
        </div>
    </div>
</section>
{/block}