{extend name="public/base" /}

{block name="title"}<title>{:lang('list')} - {:config('dbconfig.sys.login_title')}</title>{/block}

{block name="pjax_container"}
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                该开关、下载安装、卸载、升级
                <div class="box-header with-border">
                    {volist name="category_arr" id="vo"}
                    <a class="btn btn-default {$vo.active}" href="{$vo.url}" >{$vo.text}</a>
                    {/volist}
                </div>
                <div class="box-header with-border">
                    {volist name="type_arr" id="vo"}
                    <a class="btn btn-default {$vo.active}" href="{$vo.url}" >{$vo.text}</a>
                    {/volist}
                </div>
                <div class="box-header with-border">
                    <div class="input-group-btn up-box">
                        <div class="up-btn-box">
                            <input type="file" id="addon-upload-btn" data-url="{:url('Addons/localInstall')}" accept=".zip,.rar">
                            <button class="btn btn-danger" type="button"><i class="fa-solid fa-cloud-arrow-up"> 本地安装</i></button>
                        </div>
                    </div>
                </div>
                <div class="box-body table-responsive">
                    <table class="table table-hover table-bordered">
                        <tr>
                            <th>{:lang('title')}</th>
                            <th>{:lang('author')}</th>
                            <th class="description">{:lang('descs')}</th>
                            <th>{:lang('price')}</th>
                            <th>{:lang('downloads')}</th>
                            <th>{:lang('version')}</th>
                            <th>{:lang('status')}</th>
                            <th class="text-end">{:lang('action')}</th>
                        </tr>
                        {volist name="dataList" id="vo"}
                        <tr>
                            <td>{$vo.title}</td>
                            <td>{$vo.author}</td>
                            <td class="description">{$vo.descs}</td>
                            <td>{$vo.price|price_label}</td>
                            <td>{$vo.downloads}</td>
                            <td>{$vo.version}</td>
                            <td>{$vo.status_switchs}</td>
                            <td class="text-end">{$vo.action_btns}</td>
                        </tr>
                        {/volist}
                    </table>
                </div>
                <div class="box-footer clearfix">
                    {$dataList->render()|raw}
                </div>
            </div>
        </div>
    </div>
</section>
{/block}