app_debug = false[common]prefix = zqsj[app]default_timezone = Asia/Shanghai[cache]driver = fileexpire = 0[cookie]expire = 1440[database]driver = mysqltype = mysqlhostname = 127.0.0.1database = username = rootpassword = hostport = 3306charset = utf8mb4prefix = may_trigger_sql = false[lang]default_lang = zh-cn[log]channel = filemax_files = 20[sission]type = fileexpire = 1440