{extend name="public/base" /}

{block name="title"}<title>{:lang('list')} - {:config('dbconfig.sys.login_title')}</title>{/block}

{block name="pjax_container"}
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border" style="height:51px;" >
                    <div class="pull-left" style="margin-right:10px;">
                        {:auth_action(CONTROLLER_NAME.'/createMember', 'a', lang('create'), [], 'primary', 'sm', 'save')} 
                        {:auth_action(CONTROLLER_NAME.'/deleteMember', 'confirm', lang('delete'), '', 'danger', 'sm', 'trash')} 
                    </div>
                    {include file="public/search" /}
                </div>
                <div class="box-body table-responsive">
                    <table class="table table-hover table-bordered">
                        <tr>
                            <th width="36"><input type="checkbox" class="icheck checkbox-toggle"></th>
                            <th>{:lang('id')}{:table_sort('id')}</th>
                            <th>{:lang('title')}{:table_sort('title')}</th>
                            <th>{:lang('notation')}</th>
                            <th>{:lang('module')}</th>
                            <th>{:lang('level')}{:table_sort('level')}</th>
                            <th>{:lang('status')}{:table_sort('status')}</th>
                            <th width="124">{:lang('action')}</th>
                        </tr>
                        {volist name="dataList" id="vo"}
                        <tr>
                            <td><input type="checkbox" name="id[]" value="{$vo.id}" class="icheck"></td>
                            <td>{$vo.id}</td>
                            <td>{:list_write($vo, 'title')}</td>
                            <td>{$vo.notation}</td>
                            <td>{$vo.module}</td>
                            <td>{$vo.level}</td>
                            <td>{:list_status($vo['id'], $vo['status'])}</td>
                            <td>
                                {:auth_action(CONTROLLER_NAME.'/editMember', 'a', lang('edit'), ['id' => $vo.id])} 
                                {:auth_action(CONTROLLER_NAME.'/deleteMember', 'confirm', lang('delete'), $vo.id, 'danger', 'xs', 'trash')}
                            </td>
                        </tr>
                        {/volist}
                    </table>
                </div>
                <div class="box-footer clearfix">
                    {$dataList->render()|raw}
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
$(function(){
    index_list_init();
})
</script>
{/block}