{extend name="public/base" /}

{block name="title"}<title>{:lang('list')} - {:config('dbconfig.sys.login_title')}</title>{/block}

{block name="pjax_container"}
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                {include file="public/search" /}
                {include file="public/top_action" /}
                <div class="box-body table-responsive">
                    <table class="table table-hover table-bordered">
                        <tr>
                            <th width="32"><input type="checkbox" class="form-check-input table-check-toggle"></th>
                            <th>{:lang('id')}{:table_sort('id')}</th>
                            <th>{:lang('title')}{:table_sort('title')}</th>
                            <th>{:lang('notation')}</th>
                            <th>{:lang('module')}</th>
                            <th>{:lang('level')}{:table_sort('level')}</th>
                            <th>{:lang('status')}{:table_sort('status')}</th>
                            <th width="124">{:lang('action')}</th>
                        </tr>
                        {volist name="dataList" id="vo"}
                        <tr>
                            <td><input type="checkbox" name="id[]" value="{$vo.id}" class="form-check-input table-check"></td>
                            <td>{$vo.id}</td>
                            <td>{:list_write($vo, 'title')}</td>
                            <td>{$vo.notation}</td>
                            <td>{$vo.module}</td>
                            <td>{$vo.level}</td>
                            <td>{:list_status($vo['id'], $vo['status'])}</td>
                            <td>{include file="public/list_action" /}</td>
                        </tr>
                        {/volist}
                    </table>
                </div>
                <div class="box-footer clearfix">
                    {$dataList->render()|raw}
                </div>
            </div>
        </div>
    </div>
</section>
{/block}