{extend name="public/base" /}

{block name="title"}<title>{:config('dbconfig.sys.login_title')}</title>{/block}

{block name="pjax_container"}
<section class="content">
    <div class="row">
        <div class="col-xl-3 col-lg-6 col-12">
            <div class="small-box">
                <div class="item label-warning">
                    <div class="inner">
                        <h3>{:lang('handbook')}</h3>
                    </div>
                    <div class="icon"><i class="fa-solid fa-book-open"></i></div>
                    <a href="{$data.handbook}" class="more" target="_blank"><i class="fa-solid fa-circle-right"></i> {:lang('show')}</a>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-12">
            <div class="small-box">
                <div class="item label-success">
                    <div class="inner">
                        <h3>{:lang('code')}</h3>
                    </div>
                    <div class="icon"><i class="fa-solid fa-code"></i></div>
                    <a href="{$data.code}" class="more" target="_blank"><i class="fa-solid fa-circle-right"></i> {:lang('show')}</a>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-12">
            <div class="small-box">
                <div class="item label-info">
                    <div class="inner">
                        <h3>{:lang('files')}</h3>
                        <div class="info">
                            <div>{:lang('files_num')}：{$data.files_num}</div>
                            <div>{:lang('files_size')}：{$data.files_size}</div>
                        </div>
                    </div>
                    <div class="icon"><i class="fa-regular fa-file"></i></div>
                    {:auth_action('UploadFile/index', 'a', lang('show'), [], '', ' more', 'circle-right')} 
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-12">
            <div class="small-box">
                <div class="item label-danger">
                    <div class="inner">
                        <h3>{:lang('addon')}</h3>
                        <div class="info">
                            <div>{:lang('addon_num')}：{$data.addon_num}</div>
                        </div>
                    </div>
                    <div class="icon"><i class="fa-solid fa-puzzle-piece"></i></div>
                    {if !empty($data['addon'])}
                    <a href="{$data.addon}" class="more">{:lang('show')} <i class="fa-solid fa-circle-right"></i></a>
                    {/if}
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-12">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">{:lang('system_config')}</h3>
                </div>
                <div class="box-body table-responsive">
                    <table class="table table-hover table-bordered">
                        {volist name="data.system_config" id="vo" mod="2" }
                        {eq name="mod" value="0"}<tr>{/eq}
                        <td width="150">{$key}</td>
                        <td>{$vo}</td>
                        {eq name="mod" value="1"}</tr>{/eq}
                        {/volist}
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
{/block}