{extend name="public/base" /}

{block name="title"}<title>{:lang('auth_group')} - {:config('dbconfig.sys.login_title')}</title>{/block}

{block name="pjax_container"}
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <form class="form-horizontal" method="POST" action="" onsubmit="return false" >
                <div class="nav-tabs-custom">
                    <div class="nav nav-tabs">
                        <div class="nav-item">
                            <a data-bs-target="#tab1" data-bs-toggle="tab" class="active">{:lang('auth_group')}</a>
                        </div>
                        <div class="nav-back"><a href="javascript:history.back(-1)"><i class="fa-solid fa-list"></i> {:lang('back')}</a></div>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab1">
                            {:widget('common/Hidden/index', [$data, [
                                'name' => 'id',
                            ]])}
                            {:widget('common/Text/index', [$data, [
                                'name' => 'username',
                                'title' => lang('username'),
                            ]])}
                            <div class="form-group row">
                                <label class="col-sm-2 control-label">{:lang('auth_group')}</label>
                                <div class="col-sm-6">
                                    {volist name="groupList" id="vo"}
                                    <label class="check-inline">
                                        <input type="radio" class="form-check-input" name="group_id" value="{$vo.id}" {$vo.checked} ><span>{$vo.title}</span>
                                    </label>
                                    {/volist}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <div class="row">
                            <div class="col-sm-2"></div>
                            <div class="col-sm-6">
                                <div class="btn-group">
                                    <button type="submit" class="btn btn-info submits" data-loading-text="&lt;i class='fa-solid fa-spinner fa-spin '&gt;&lt;/i&gt; {:lang('submit')}">{:lang('submit')}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
{/block}