{if !defined('ISPJAX') || ISPJAX !== true }
{load href="/static/global/jquery/jquery.pjax.js" /}
{load href="/static/global/jquery/jquery.form.js" /}
{load href="/static/global/nprogress/nprogress.css" /}
{load href="/static/global/nprogress/nprogress.js" /}
{load href="/static/global/jquery-slimscroll/jquery.slimscroll.min.js" /}
{load href="/static/global/layer/layer.js" /}
{load href="/static/global/select2/select2.min.js" /}
{load href="/static/global/select2/i18n/zh-CN.js" /}

{load href="/static/global/froala-editor/css/froala_editor.pkgd.min.css" /}
{load href="/static/global/froala-editor/js/froala_editor.pkgd.min.js" /}
{load href="/static/global/froala-editor/js/languages/zh_cn.js" /}

{load href="/static/global/flatpickr/flatpickr.min.css" /}
{load href="/static/global/flatpickr/flatpickr.min.js" /}
{load href="/static/global/flatpickr/zh.min.js" /}

{load href="/static/global/cropper/cropper.main.css" /}
{load href="/static/global/cropper/cropper.min.css" /}
{load href="/static/global/cropper/cropper.main.js" /}
{load href="/static/global/cropper/cropper.min.js" /}
{load href="/static/global/chart/Chart.min.js" /}
{load href="/static/system/dist/js/adminlte.min.js" /}
{load href="/static/system/dist/js/common.js" /}
{/if}