{if !defined('ISPJAX') || ISPJAX !== true }
{load href="/static/global/font-awesome/css/all.min.css" /}
{load href="/static/global/select2/select2.min.css" /}
{load href="/static/global/datetimepicker/bootstrap-datetimepicker.min.css" /}
{load href="/static/global/bootstrap/css/bootstrap.min.css" /}
{load href="/static/system/dist/css/AdminLTE.min.css" /}
{load href="/static/system/dist/css/skin-blue.min.css" /}
{load href="/static/global/jquery/jquery-3.7.1.min.js" /}
{load href="/static/global/bootstrap/js/bootstrap.bundle.min.js" /}
<!--[if lt IE 9]>
{load href="/static/global/common/js/html5shiv.min.js" /}
{load href="/static/global/common/js/respond.min.js" /}
<![endif]-->
{/if}