{if !defined('ISPJAX') || ISPJAX !== true }
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
{/if}
{block name="title"}<title></title>{/block}
{block name="admin_load_t"}{include file="public/admin_load_t" /}{/block}
{if !defined('ISPJAX') || ISPJAX !== true }
</head>
<body class="hold-transition skin-blue fixed sidebar-mini">
<div class="wrapper">
{/if}
{block name="admin_top"}{include file="public/admin_top" /}{/block}
{block name="admin_left"}{include file="public/admin_left" /}{/block}
<div class="content-wrapper" id="pjax-container">
{block name="pjax_container"}{/block}
</div>
{block name="admin_bottom"}{include file="public/admin_bottom" /}{/block}
{if !defined('ISPJAX') || ISPJAX !== true }
</div>
{/if}
{block name="admin_load_b"}{include file="public/admin_load_b" /}{/block}
{if !defined('ISPJAX') || ISPJAX !== true }
</body>
</html>
{/if}