{if !empty($searchConf) }
<div class="box-header with-border" >
    <form class="form-horizontal" method="GET" action="{:url(CONTROLLER_NAME.'/index')}" pjax-search="">
        <div class="row">
            {volist name="searchConf" id="vo"}
            <div class="col-lg-3 col-md-6">
            {if $vo['type'] == 'ToTime' }
            <div class="form-group row">
                <label class="col-sm-3 control-label">{$vo['widget_conf']['title']}</label>
                <div class="col-sm-9">
                    <div class="input-daterange input-group input-group-md">
                        <input class="form-control" id="{$vo['widget_conf']['start_name']}" name="{$vo['widget_conf']['start_name']}" value="{$vo['data'][$vo['widget_conf']['start_name']]}" placeholder="开始日期" type="text">
                        <span class="input-group-addon"><i class="fa-solid fa-chevron-right"></i></span>
                        <input class="form-control" id="{$vo['widget_conf']['end_name']}" name="{$vo['widget_conf']['end_name']}" value="{$vo['data'][$vo['widget_conf']['end_name']]}" placeholder="结束日期" type="text">
                    </div>
                </div>
            </div>
            <script>
            $(function(){
                var flatpickr_start = $("#{$vo['widget_conf']['start_name']}").flatpickr({locale: 'zh', dateFormat: 'Y-m-d'});
                var flatpickr_end = $("#{$vo['widget_conf']['end_name']}").flatpickr({locale: 'zh', dateFormat: 'Y-m-d'});
                flatpickr_start.config.onChange.push(function(selectedDates, dateStr, instance){ flatpickr_end.set("minDate", dateStr) })
                flatpickr_end.config.onChange.push(function(selectedDates, dateStr, instance){ flatpickr_start.set("maxDate", dateStr) })
            })
            </script>
            {else /}
            {:widget('common/'.$vo['type'].'/index', [$vo['data'], $vo['widget_conf']])}
            {/if}
            </div>
            {/volist}
        </div>
        <div class="btn-group">
            <button type="submit" class="btn btn-info"><i class='fa-solid fa-search'></i> {:lang('search')}</button>
        </div>
    </form>
</div>
{/if}