<div class="form-group row">
    <label class="col-sm-{$wconfig.title_col} control-label">{$wconfig.title}</label>
    <div class="col-sm-{$wconfig.content_col}">
        <textarea class="form-control" id="froala_{$wconfig.name}" name="{$wconfig.name}" >{$wconfig.widget_val|raw}</textarea>
    </div>
    {if $wconfig['validate_col'] > 0 }
    <div class="col-sm-{$wconfig.validate_col}">
        <span class="help-block">{$wconfig.validate}</span>
    </div>
    {/if}
</div>
{load href="/static/global/froala-editor/css/froala_editor.pkgd.min.css" /}
<script>
_loadHeadScript('/static/global/froala-editor/js/froala_editor.pkgd.min.js?v={$wconfig.name}', _init_FroalaEditor_{$wconfig.name});
function _init_FroalaEditor_{$wconfig.name}(){
    new FroalaEditor("#froala_{$wconfig.name}", {
        language: 'zh_cn',   //多语言
        height: 200,   //高度
        toolbarButtons: [['html', 'fullscreen', 'undo', 'redo', 'selectAll', 'print' , '|', 'align', 'outdent', 'indent', 'lineHeight', 'subscript', 'superscript', 'specialCharacters', 'insertHR', 'clearFormatting', '-', 'paragraphFormat', 'fontFamily', 'fontSize', '|', 'textColor', 'backgroundColor', 'bold', 'italic', 'underline', 'strikeThrough', '|', 'insertImage', 'insertVideo', 'insertFile', 'insertLink', 'insertTable']],
        imageDefaultWidth: 0,   //图片默认宽度
        quickInsertEnabled: false,   //快捷插入
        wordCounterCount: false,   //右下word统计
        codeBeautifierOptions: {
            end_with_newline: true,
            indent_inner_html: true,
            extra_liners: "['p', 'h1', 'h2', 'h3', 'h4', 'h5', 'h6', 'blockquote', 'pre', 'ul', 'ol', 'table', 'dl']",
            brace_style: 'expand',
            indent_char: ' ',
            indent_size: 4,
            wrap_line_length: 0
        },
        imageUploadURL: '{:url("Uploads/upload")}',
        imageUploadParam: 'imgFile',   //
        imageUploadParams: {dir: 'image', tag: 'editor'},
        imageManagerLoadURL: '{:url("Uploads/froalaeditorManager")}',
        imageManagerLoadParams: {format: 'image'},
        imageManagerPageSize: 12,
        imageManagerDeleteURL: '{:url("Uploads/froalaeditorDelete")}',
        videoUploadURL: '{:url("Uploads/upload")}',
        videoUploadParam: 'imgFile',
        videoUploadParams: {dir: 'media', tag: 'editor'},
        fileUploadURL : '{:url("Uploads/upload")}',
        fileUploadParam: 'imgFile',
        fileUploadParams: {dir: 'file', tag: 'editor'},
        events: {
            'commands.after': function (cmd, param1, param2) {
                if(cmd == 'html' && $('#html-'+this.id).hasClass('fr-active')){
                    layer.msg('视图模式编辑完后，需切回正常模式，否则内容无法保存！！！', {icon: 7});
                }
            },
            'blur': function () {
                // if(this.codeView.isActive()){
                //     this.html.set( this.codeView.get() )
                // }
            },
            'image.error': function (error, response) {
                var res = JSON.parse(response);
                layer.msg(res.message, {icon: 2});
            },
            'video.error': function (error, response) {
                var res = JSON.parse(response);
                layer.msg(res.message, {icon: 2});
            },
            'file.error': function (error, response) {
                var res = JSON.parse(response);
                layer.msg(res.message, {icon: 2});
            },
        }
    })
}
</script>