<div class="form-group row">
    <label class="col-sm-{$wconfig.title_col} control-label">{$wconfig.title}</label>
    <div class="col-sm-{$wconfig.content_col}">
        <div class="input-group">
            <input class="form-control widget-upload-input" name="{$wconfig.name}" value="{$wconfig.widget_val|raw}" placeholder="{$wconfig.placeholder}" {$wconfig.readonly} {$wconfig.disabled} >
            <span class="input-group-btn up-box">
                <a href="{$wconfig.widget_val_img}" class="show-image-box" target="_blank" >
                    <img src="{$wconfig.widget_val_img}" />
                </a>
                <div class="up-btn-box">
                    <input type="file" class="widget-upload-btn" data-url='{:url("Uploads/upload")}' data-dir="image" data-tag="image" accept="image/jpeg,image/jpg,image/png,image/gif,image/webp">
                    <button class="btn btn-success btn-flat" type="button" {$wconfig.btn_disabled} >
                        <i class="fa-solid fa-cloud-arrow-up"> {:lang('upload')}</i>
                    </button>
                </div>
                <button class="btn btn-info btn-flat widget-upload-manage" data-url='{:url("Uploads/ajaxManager")}' data-back-btn='widget-back-manage-{$wconfig.name}' data-format="image" data-tag="image" type="button" {$wconfig.btn_disabled} >
                    <i class="fa-regular fa-images"> {:lang('browse')}</i>
                </button>
            </span>
        </div>
    </div>
    {if $wconfig['validate_col'] > 0 }
    <div class="col-sm-{$wconfig.validate_col}">
        <span class="help-block">{$wconfig.validate}</span>
    </div>
    {/if}
</div>