<div class="form-group row">
    <label class="col-sm-{$wconfig.title_col} control-label">{$wconfig.title}</label>
    <div class="col-sm-{$wconfig.content_col}">
        {volist name="optionList" id="vo"}
        <label class="checkbox-inline">
            <input type="radio" class="icheck_{$wconfig.name}" name="{$wconfig.name}" value="{$vo.value}" {$vo.checked} {$wconfig.disabled}> {$vo.html}
        </label>
        {/volist}
    </div>
    {if $wconfig['validate_col'] > 0 }
    <div class="col-sm-{$wconfig.validate_col}">
        <span class="help-block">{$wconfig.validate}</span>
    </div>
    {/if}
</div>
<script type="text/javascript">
$(function(){
    $('.icheck_{$wconfig.name}').iCheck({ checkboxClass:'icheckbox_flat-green', radioClass: 'iradio_flat-green'});    //iCheck初始化
})
</script>