<div class="form-group row">
    <label class="col-sm-{$wconfig.title_col} control-label">{$wconfig.title}</label>
    <div class="col-sm-{$wconfig.content_col}">
        <span class="checkbox-inline switch-box">
            <input type="checkbox" name="{$wconfig.name}" id="switchs_{$wconfig.name}" value="1" {$wconfig.checked} {$wconfig.disabled} />
            <label for="switchs_{$wconfig.name}"><em></em></label>
        </span>
    </div>
    {if $wconfig['validate_col'] > 0 }
    <div class="col-sm-{$wconfig.validate_col}">
        <span class="help-block">{$wconfig.validate}</span>
    </div>
    {/if}
</div>