<div class="form-group row">
    <label class="col-sm-{$wconfig.title_col} control-label">{$wconfig.title}</label>
    <div class="col-sm-{$wconfig.content_col}">
        <input type="hidden" name="{$wconfig.name}" value="{$wconfig.widget_val}" />
        <span class="checkbox-inline switch-box">
            <input type="checkbox" id="switchs_{$wconfig.name}" {$wconfig.checked} {$wconfig.disabled} />
            <label for="switchs_{$wconfig.name}"><em></em></label>
        </span>
    </div>
    {if $wconfig['validate_col'] > 0 }
    <div class="col-sm-{$wconfig.validate_col}">
        <span class="help-block">{$wconfig.validate}</span>
    </div>
    {/if}
</div>
<script type="text/javascript">
$(function(){
    $('#switchs_{$wconfig.name}').on('change', function (e) {
        var _this = $(this);
        if(_this.prop("checked") === true){
            _this.parents('.switch-box').prev().val(1);
        }else{
            _this.parents('.switch-box').prev().val(0);
        }
    });
})
</script>