<div class="form-group row">
    <label class="col-sm-{$wconfig.title_col} control-label">{$wconfig.title}</label>
    <div class="col-sm-{$wconfig.content_col}">
        <textarea class="form-control" name="{$wconfig.name}" placeholder="{$wconfig.placeholder}" {$wconfig.readonly} {$wconfig.disabled} >{$wconfig.widget_val|raw}</textarea>
    </div>
    {if $wconfig['validate_col'] > 0 }
    <div class="col-sm-{$wconfig.validate_col}">
        <span class="help-block">{$wconfig.validate}</span>
    </div>
    {/if}
</div>