app_debug = false[common]prefix = may[app]default_timezone = Asia/Shanghai[cache]driver = fileexpire = 0[cookie]expire = 1440[database]driver = mysqltype = mysqlhostname = database_hostnamedatabase = database_databaseusername = database_rootpassword = database_passwordhostport = database_hostportcharset = utf8mb4prefix = database_prefixtrigger_sql = false[lang]default_lang = zh-cn[log]channel = filemax_files = 20[sission]type = fileexpire = 1440