<div class="table-responsive">
    <table class="table table-hover table-bordered table-last-fixed">
        <tr>
            <th>{:lang('table_name')}</th>
            <th>{:lang('table_url_text')}</th>
            <th>{:lang('table_tag')}</th>
            <th>{:lang('table_width')}</th>
            <th>{:lang('table_height')}</th>
            <th>{:lang('table_filesize')}</th>
            <th>{:lang('table_mime')}</th>
            <th>{:lang('action')}</th>
        </tr>
        {volist name="dataList" id="vo"}
        <tr>
            <td class="description"><div class="truncates text-truncate" data-bs-toggle="tooltip" data-bs-title="{$vo.name}">{$vo.name}</div></td>
            <td>{$vo.url_text}</td>
            <td>{$vo.tag}</td>
            <td>{$vo.width}</td>
            <td>{$vo.height}</td>
            <td>{$vo.filesize|file_size_unit}</td>
            <td>{$vo.mime}</td>
            <td>
                <a class="btn btn-primary btn-xs widget-upload-select" data-back-btn='{$back}' data-url='{$vo.url}' data-tag='{$tag}'>
                    <i class="fa-regular fa-hand-pointer"></i> {:lang('select')}
                </a>
            </td>
        </tr>
        {/volist}
    </table>
</div>
{$dataList->render()|raw}
<script>
$(function(){
    $('.table .truncates').tooltip();
})
</script>